<div class="row mb-5">
  <div class="d-flex mt-5 border-bottom">
    <h1 class="t1 ms-3">Notificaciones</h1>
  </div>
  <div class="mb-3 text-center">
    <h3 class="t1 ms-3 mt-3">Crear notificación</h3>
  </div>

  <form [formGroup]="notificationForm" (ngSubmit)="onNotification()">
    <div class="mb-3">

      <div class="">
        <input
          type="text"
          class="form-control"
          placeholder="Titulo"
          id="title"
          formControlName="title"
        />
        <span *ngIf="isValidField('title')" class="form-text text-danger">
          {{ getFieldError("title") }}
        </span>
      </div>


      <div class="mt-3">
        <textarea
          class="form-control"
          rows="8"
          placeholder="Descripción o contenido"
          id="description"
          formControlName="description"
        ></textarea>

        <span *ngIf="isValidField('description')" class="form-text text-danger">
          {{ getFieldError("description") }}
        </span>
      </div>


      <div class="py-3">
        <select
          class="form-select"
          placeholder="Usuario"
          id="userId"
          formControlName="userId"
        >
          <option value="" disabled selected>Selecciona un usario</option>
          <option *ngFor="let user of userList" [value]="user.id">
            {{ user.id }} - {{ user.email }}
          </option>
        </select>

        <span *ngIf="isValidField('userId')" class="form-text text-danger">
          {{ getFieldError("userId") }}
        </span>
      </div>


    </div>

    <div class="d-flex justify-content-center py-4">
      <button type="submit" class="btn btn-primary mt-auto fs-4">Enviar</button>
    </div>

  </form>

</div>
