<main class="login-form form-container">
  <header>
    <img src="/assets/homelog.png" alt="Tu Home Logo" width="300">
    <h1 class="form-title">Login</h1>
    <p class="form-subtitle">¡Bienvenido a Tu Home! Por favor ingresa tus datos.</p>
  </header>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <div class="form-group">


      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Correo electrónico"
        [ngClass]="{'mb-0': isValidField('email')}"
        formControlName="email"
      />

      <span *ngIf="isValidField('email')" class="form-text text-danger">
        {{ getFieldError("email") }}
      </span>
    </div>

    <div class="form-group">


      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Contraseña"
        [ngClass]="{'mb-0': isValidField('password')}"
        formControlName="password"
      />

      <span *ngIf="isValidField('password')" class="form-text text-danger">
        {{ getFieldError("password") }}
      </span>

      <span *ngIf="loginError" class="form-text text-danger">
        El usuario o contraseña son incorrectos.
      </span>
    </div>
    <p class="new-user-text">
      ¿Primera vez aquí? <a [routerLink]="'/auth/signUp'" class="register-link">Regístrate</a>
    </p>

    <button type="submit" class="login-btn mt-3">Iniciar sesion</button>
  </form>
</main>

