<div class="row">
  <div class="d-flex mt-5 border-bottom mb-3 justify-content-between">
      <h1 class="t1 ms-3">Inmuebles</h1>
      <div class="filtro text-dark">
        <span>Filtrar: </span>
        <span class="text-primary"> Todos </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg>
      </div>
  </div>
  <!-- TODO: Card images, sortby filter-->
  <div class="d-flex flex-wrap text-center pt-2 justify-content-between">
      <!-- Primera "tablita" -->
      <div
        class="col-lg-3 col-md-8 mb-5 mx-2 border p-3 custom-rounded-table shadow"
        *ngFor="let property of propertyList"
        [routerLink]="['/admin/manage/properties/', property.id]"
      >
          <img [src]="onImage(property.id)" alt="Tu Home Logo" width="100%" class="img-fluid rounded">

          <p class=" text-dark mt-2"><strong>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bricks text-primary" viewBox="0 0 16 16">
                <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
            </svg>
              Nombre:</strong> {{ property.name }}
          </p>

          <p class=" text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt text-primary" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <strong>Dirección:</strong> {{ property.address }}
          </p>

          <p class=" text-dark mt-2"><strong>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bricks text-primary" viewBox="0 0 16 16">
                <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
            </svg>
              Tipo:</strong> {{ property.typeOfProperty | propertyType }}
          </p>
      </div>
  </div>
  <div class="col">
    <button [routerLink]="'/admin/new/property'">
      <div class="spinner-container">
        <span>Añadir Propiedad</span>
        <svg width="30" height="30" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
          <g fill="none" fill-rule="evenodd" transform="translate(1 1)" stroke-width="2">
              <circle cx="22" cy="22" r="6" stroke-opacity="0">
                  <animate attributeName="r"
                       begin="1.5s" dur="3s"
                       values="6;22"
                       calcMode="linear"
                       repeatCount="indefinite" />
                  <animate attributeName="stroke-opacity"
                       begin="1.5s" dur="3s"
                       values="1;0" calcMode="linear"
                       repeatCount="indefinite" />
                  <animate attributeName="stroke-width"
                       begin="1.5s" dur="3s"
                       values="2;0" calcMode="linear"
                       repeatCount="indefinite" />
              </circle>
              <circle cx="22" cy="22" r="6" stroke-opacity="0">
                  <animate attributeName="r"
                       begin="3s" dur="3s"
                       values="6;22"
                       calcMode="linear"
                       repeatCount="indefinite" />
                  <animate attributeName="stroke-opacity"
                       begin="3s" dur="3s"
                       values="1;0" calcMode="linear"
                       repeatCount="indefinite" />
                  <animate attributeName="stroke-width"
                       begin="3s" dur="3s"
                       values="2;0" calcMode="linear"
                       repeatCount="indefinite" />
              </circle>
              <circle cx="22" cy="22" r="8">
                  <animate attributeName="r"
                       begin="0s" dur="1.5s"
                       values="6;1;2;3;4;5;6"
                       calcMode="linear"
                       repeatCount="indefinite" />
              </circle>
          </g>
        </svg>
      </div>
    </button>
  </div>
</div>

